a {
  text-decoration: none !important;
  color: inherit !important;
}

.summary {
  width: 30%;
  margin-top: 0.5rem;
}





@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 0.8rem;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
  display: grid;
  grid-template-columns: 1fr;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}
